#bio{
  min-width: 500px;
  width: 700px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-left: 40px;
  margin-top: 16px;
}
#bio:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.bio-box{
  width: 200px;
  margin-bottom: 30px;
  padding: 50px;
  background: linear-gradient(to right,#43FF6B, #FFFFFF);
  border-width: 4px;
  border-color: #000000;
  border-style: solid;
  transition-timing-function: linear;
}
.bio-box:hover{
  background: #22AA3B;
}
.bio-box-left{
  animation-name: moveInBoxLeft;
}
.bio-box-right{
  animation-name: moveInBoxRight;
}
.bio-box:after{
  content: "";
  display: inline-block;
  width: 200px;
  height: 5px;
  border-bottom-color: #009900;
  border-width: 0px;
  border-bottom-width: 5px;
  border-style: solid;
}
.bio-box.valid-link:after{
  border-bottom-color: #AA0000;
}
.bio-box:hover:after{
  border-bottom-color: #EEEEEE;
  animation-name: hoveredBox;
  animation-duration: 2s;
}
@keyframes moveInBoxRight{
  0%{
    opacity: 0.0;
    transform: translate(40px,0px);
  }
  100%{
    opacity: 1.0;
    transform: translate(0px,0px);
  }
}
@keyframes moveInBoxLeft{
  0%{
    opacity: 0.0;
    transform: translate(-40px,0px);
  }
  100%{
    opacity: 1.0;
    transform: translate(0px,0px);
  }
}
@keyframes hoveredBox{
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1.0);
  }
}
.bio-label{
  text-align: center;
  margin-top:10px;
  margin-bottom: 5px;
  font-size: 20px;
}
.bio-text{
  text-align: center;
  font-size: 24px;
}
.bio-text a{
  color:black;
  text-decoration: none;
}
#bio-left{
  float: left;
}
#bio-right{
  float: right;
}
#introduction{
  text-align: center;
}
