#Game{
  position: relative;
  background: white;
  margin: 80px auto;
}
#Game-DrawHandler{
  width: 100%;
  height: 100%;
}
.Game-block{
  position: absolute;
  background: linear-gradient(to right,#2C447D, #789393);
  border: 2px solid #000000;
}
.Game-ball{
  position: absolute;
  border-radius: 50%;
  background: black;
}
.Game-bar{
  position: absolute;
  background: black;
}
