#skill-list{
  margin: auto;
  margin-top: 100px;
  max-width: 600px;
  min-width: 400px;
}
.skill{
  position: relative;
  background: linear-gradient(#FFFFFF,#77CCFF);
  border: 4px solid #333333;
  margin-top: 20px;
  margin-bottom: 3px;
  height: 100px;
  width: 100%;
  animation-name: skillFadeIn;
  animation-duration: 1s;
}
.skill:hover{
  background: #55AADD;
}
@keyframes skillFadeIn{
  0%{
    opacity: 0.2;
    transform: translate(0px,30px);
  }
  100%{
    opacity: 1.0;
    transform: translate(0px,0px);
  }
}
li{
  list-style: none;
  margin-bottom: 10px;
}
.skill-image{
  position: absolute;
  left: 0;
}
.skill-text{
  float: left;
  margin-left: 90px
}
.skill-name{
  color: #223377;
  margin-bottom: 18px;
  font-size: 30px;
}
.skill-desc{
  color: #223377;
  font-size: 18px;
}
.skill:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#C\+\+{
  margin-left: 10px;
}
#Java{
  margin-left: 10px;
}
#Android{
  margin-top: 20px;
  margin-left: 8px;
}
#JavaScript{
  margin-top: 5px;
  margin-left: 7px;
}
#React{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
ul#skill-list-ul{
  padding-left: 0;
  padding-right: 3px;
}
